$h1color: #555 ;
$color: #444 ;
$fontfam: "Adobe Gothic Std B", "Arial Black";
$fontfam2: "Adobe Song Std L", "Arial";
$padding: 10px 5px;
$align: center;
$bgcolor: #f2f2f2;
$bgcolor2: #e1e1e1;
$width: 600px;
$z: 0;
$aut: auto;
$psize: 17px;
$marginb: 35px;
//Sass

$border: 1px solid #000;
body {
  border: $border;
  text-align: $align;
  left:$z;
  right:$z;
  margin: $marginb $aut;
  width: $width;

}
h1, h2, p, hr{
  margin: $padding;
}
h1{ 
  color: $h1color;
  font-family: $fontfam2;
  padding: $padding;
  background-color: $bgcolor;
  ;
}
h2{
  background-color: $bgcolor2;
  color: $color;
  font-family: $fontfam;
}
p {
  font-family: $fontfam2;
  font-size: $psize;
  background-color: $bgcolor;
  
}