body {
  border: 1px solid #000;
  text-align: center;
  left: 0;
  right: 0;
  margin: 35px auto;
  width: 600px;
}

h1, h2, p, hr {
  margin: 10px 5px;
}

h1 {
  color: #555;
  font-family: "Adobe Song Std L", "Arial";
  padding: 10px 5px;
  background-color: #f2f2f2;
}

h2 {
  background-color: #e1e1e1;
  color: #444;
  font-family: "Adobe Gothic Std B", "Arial Black";
}

p {
  font-family: "Adobe Song Std L", "Arial";
  font-size: 17px;
  background-color: #f2f2f2;
}
