body {
  padding: 10px 5px;
  font-family: "Adobe Songstd L", "Arial", sans-serif;
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  color: #999;
  font-family: "Adobe Gothic Std B", "Arial Black", sans-serif;
}

h2 {
  font-family: "Adobe Songstd L", "Arial", sans-serif;
}

.container {
  width: 100%;
  background-color: #f2f2f2;
}

.left-col {
  width: 65%;
  float: left;
  background-color: #f2f2f2;
  padding: 15px 10px;
}

.right-col {
  width: 25%;
  height: 200px;
  float: left;
  background-color: #999;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.side {
  font-family: "Adobe Songstd L", "Arial", sans-serif;
  margin-left: 8px;
}

.butt {
  float: right;
}

input {
  width: 230px;
}
