<head>
	<link rel="stylesheet" href="compiled.css">
</head>
<body>
  
  <h1>CONTACT US!</h1>
  <hr>
  <div class="container">
    <div class="left-col">
      
      <br><br><br>
      <div class="form">
        <table>
          <tr><textarea rows="17" cols="40" placeholder="Write a Message..."></textarea></tr>
          <tr>
            <td>NAME:</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>E-MAIL:</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>PHONE:</td>
            <td><input type="text"></td>
          </tr>
        </table>
        
        <button class="butt">SEND NOW!</button>
        
      </div>
    </div>
    <div class="right-col">
      <img class="img-one" src="http://www.clipartbest.com/cliparts/aiq/byd/aiqbydn6T.png" width="64px" height="64px">
      <span class="side">0913-432-0987</span><br>
      <span class="side">1-800-HUMBLE</span><br>
      <span class="side">1234-567-8901</span>
    </div>
  </div>
  
</body>