$h1color: #999;
$fontfam: "Adobe Gothic Std B", "Arial Black", sans-serif;
$fontfam2: "Adobe Songstd L", "Arial", sans-serif;
$align: center;
$padding: 10px 5px;
$bgcolor: #f2f2f2;
$bgcolor2: #999;
$width: 100%;
$margin: auto;


body{
  padding: $padding;
  font-family: $fontfam2;
  width: 600px;
  text-align: $align;
  margin-left: $margin;
  margin-right: $margin;
}
h1{
  text-align: $align;
  color: $h1color;
  font-family: $fontfam;
}
h2{
  font-family: $fontfam2;
}
.container{
  width: $width;
  background-color: $bgcolor;
}
.left-col{
  width: 65%;
  float: left;
  background-color: $bgcolor;
  padding: 15px 10px;
}
.right-col{
  width: 25%;
  height: 200px;
  float: left;
  background-color: $bgcolor2;
  padding: 15px 10px;
  text-align: $align;
  color: white;
}
.side{
  font-family: $fontfam2;
  margin-left: 8px;
}
.butt{
  float: right;
}
input{
  width: 230px;
}
