<body>
  <h1>FAQs</h1>
  <hr>
  <h2>Frequently Asked Question</h2>
  <p>1.How can we reach you?</p>
  <p>- you can view the details by viewing the
  contact section.</p>
  <p>2.When did you start?</p>
  <p>- we started as a team when we are
  working as a team in a subject called webtools.</p>
  <p>3.Where are you located?</p>
  <p>- Currently Staying at Angeles City, 
  Pampanga Philippines.</p>
  <p>4.How many members are in the team?</p>
  <p>- The team have 4 members, you can view
  more about us in the member's section.</p>
  <p>5.Who are your target audience?</p>
  <p>- are target audience are the
  students and teens.</p>
  <hr>
  <br>
</body>