$h1color: #555;
$align: center;
$fontfam: "Adobe Gothic Std B", "Arial Black";
$fontfam2: "Adobe Song Std L", "Arial";
$fontname: "Monotype Corsiva", "Cursive";
$padding: 10px 5px;
$bgcolor: #f2f2f2;
$color: #444;
$width: 600px;
$z:0;
$aut:auto;
$fsize: 14px;
$descpad: 20px;
$nsize: 30px;
$top: -25px;
$bgcolor2: #e1e1e1;
$border: 1px solid #000;
body{
  text-align:$align;
  width:$width;
  margin:$aut;
  left:$z;
  right:$z;
  border: $border;
}
h1, h2, hr{
  margin: $padding;
} 
h1{
  color: $h1color;
  font-family:$fontfam2;
  padding: $padding;
  background-color: $bgcolor;
}
h2{
  font-family: $fontfam;
  color: $color;
  background-color:$bgcolor;
}

.name{
  font-family: $fontname;
  background-color:$bgcolor2;
  font-size: $nsize;
}
.desc{
  font-size: $fsize;
  background-color:$bgcolor;
  padding:$descpad;
  margin-top: $top;
}