    $h1color: #999;
    $fontfam: "Adobe Gothic Std B", "Arial Black";
    $fontfam2: "Adobe Song Std L", "Arial";
    $align: center;
    $padding: 10px 5px;
    $bgcolor: #f2f2f2;
    $bgcolor2: #e1e1e1;
    $width: 600px;
    $color: #444;
    $z:0;
    $aut:auto;
    $border: 1px solid #000;
    
    body{
      text-align: $align;
      width: $width;
      margin: $aut;
      left: $z;
      right: $z;
      border: $border;
    }
    h1, h2, p, hr {
      margin: $padding;
    }
    h1{
      color: $h1color;
      font-family: $fontfam;
      padding:$padding;
      background-color: $bgcolor;
    }
    h2{
      font-family: $fontfam2;
      color: $color;
      background-color: $bgcolor2;
   } 
   p{
     background-color: $bgcolor;
     padding: $padding;
   }