body {
  text-align: center;
  width: 600px;
  margin: auto;
  left: 0;
  right: 0;
  border: 1px solid #000;
}

h1, h2, hr {
  margin: 10px 5px;
}

h1 {
  color: #555;
  font-family: "Adobe Song Std L", "Arial";
  padding: 10px 5px;
  background-color: #f2f2f2;
}

h2 {
  font-family: "Adobe Gothic Std B", "Arial Black";
  color: #444;
  background-color: #f2f2f2;
}

.name {
  font-family: "Monotype Corsiva", "Cursive";
  background-color: #e1e1e1;
  font-size: 30px;
}

.desc {
  font-size: 14px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: -25px;
}

